<ul>
  <li>Our Spots</li>
  <li><a href="/restaurants">Restaurants</a></li>
  <li><a href="/restaurants/my/unseen">My Open Spots</a></li>
  <li><a href="/restaurants/my/seen">Where I been</a></li>
  <li><a href="/restaurants/new">Add New</a></li>
</ul>
<ul>
  <li>Hello, <%= user.first %>!</li>
  <li>
    <form method="post" action="users/logout?_method=DELETE">
      <button>logout</button>
    </form>
  </li>
</ul>
