  <td class="rest-list"><%= restaurant.name%></td>
  <td class="rest-list"><%= restaurant.cuisine%></td>
  <td class="rest-list"><%= restaurant.neighborhood%></td>
  <td class="rest-list"><a href="http://<%= restaurant.website %>" target="blank">link</a></td>
