<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Our Spots</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/users/new">Register</a></li>
              <li><a href="/users/login">Log in</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="jumbotron">
        <h2>Welcome to My Spots!</h2>
        <p>A place where you can monitor and keep track of the restaurants you may want to frequent with a group of your peers. When you sign up, you will have access to a collective list of restaurants added to by the community. You can then add the restaurants you want to your page and keep track of them.</p>
      </div>
      <div>
        <a href="/users/new">Signup</a>
      </div>
      <div>
        <a href="/users/login">Login!</a>
      </div>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
