<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <div id="login" class="container">
      <form class="form-signin" action="/users/login" method="post">
        <h1 class="form-signin-heading text-muted">Sign in</h1>
        <input type="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
        <input class="btn btn-lg btn-default btn-block" type="submit" value="Sign in">
      </form>
    </div>
  </body>
</html>
