<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <%- include ../partials/nav %>
      <% if (user) {%>
        <div class="jumbotron">
          <h2>Add more restaurants</h2>
          <p>Add more restaurants to the community list.</p>
        </div>
      <% } %>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
