<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <%- include ../partials/nav %>
      <% if (user) {%>
        <div class="jumbotron">
          <h2>Add restaurants</h2>
          <p>Add more restaurants to the community list.</p>
        </div>
	      <div class="row">
          <form class="form-search">
            <input type="text" name="name" class="form-control" id="term" placeholder="name of restaurant" autofocus="">
            <input type="text" name="cuisine" class="form-control" id="category" placeholder="cuisine (optional)">
            <input type="text" name="neighborhood" class="form-control" id="neighborhood" placeholder="neighborhood (optional)">
            <select class="form-control" name="city" id="city">
              <option value="New York">New York, NY</option>
            </select>
            <br>
            <input class="btn btn-lg btn-default btn-block" type="submit" value="Search Yelp">
          </form>
        </div>
        <div class="search-results">
        </div>
      <% } %>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
