<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <div class="container">
        <form class="form-signin" action="/users" method="post">
          <h1 class="form-signin-heading text-muted">Create your Account</h1>
          <input type="email" name="email" class="form-control" placeholder="Email address">
          <input type="text" name="first" class="form-control" placeholder="First name">
          <input type="text" name="last" class="form-control" placeholder="Last name">
          <input type="password" name="password" class="form-control" placeholder="Password">
          <input class="btn btn-lg btn-default btn-block" type="submit" value="Sign up">
        </form>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
