<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
  </head>
  <body>
    <div class="container">
      <% if (user) {%>
        <h1>Check out these spots, user.first!</h1>
        <h3>Look through the places people have added and check if you want to go!</h3>
        <table>
          <% data.forEach(restaurant => { %>
            <tr> <%- include _show %> </tr>
          <% }); %>
        </table>
      <% } %>
    </div>
  </body>
</html>
