<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <%- include ../partials/nav %>
    <% if (user) {%>
      <h2>Where I Been!</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Cuisine</th>
          <th>Neighborhood</th>
          <th>Website</th>
        </tr>
        <% data.forEach(restaurant => { %>
          <% if (restaurant.visited) {  %>
            <tr>
              <%- include _show %>
            </tr>
          <% } %>
        <% }); %>
      </table>
    <% } %>
    <%- include ../partials/footer %>
  </body>
</html>
