<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <nav>
      <%- include ../partials/nav %>
    </nav>
    <% if (user) {%>
      <h3><%= user.first %>'s places to go</h3>
    <% } %>
  </body>
</html>
